@media only screen and (min-width: 950px) {
    #buttons {
        flex-direction: row;
        justify-content: center;
    }

    button {
        padding: 9px;
    }

    #menu {
        display: none;
    }

    #cloak {
        display: block;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    #display {
        width: 55%;
    }

    #api-description {
        width: 25%;
        height: max-content;
        text-indent: 20px;
        position: sticky;
        top: 6vw;
    }

    main {
        display: flex;
        flex-direction: row;
    }

    img {
        width: auto;
        height: auto;
        max-width: 500px;
        max-height: 300px;
    }

    @keyframes slideFromLeft {
        0% {
            transform: translate(-1000px);
        }
    }

    @keyframes slideFromRight {
        0% {
            transform: translate(1000px);
        }
    }

    .slideFromLeft {
        animation: slideFromLeft .4s linear 1;
    }

    .slideFromRight {
        animation: slideFromRight .4s linear 1;
    }
}